<a href="https://colab.research.google.com/github/ashanlokuge/python_tutorials/blob/main/PYTHON_TUTORIAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

import random
random_integer =random.randint(1,10)
print(random_integer)

In [ ]:
## THIS IS ROCK PAPER SCISSOR GAME

user_input= int(input("enter your choice? Type 0 for rock, type 1 for paper, type 2 for scissors"))
print(user_input)

import random
computer_input= random.randint(0,2)
print(computer_input)

if (user_input==0):
    if (computer_input==0):
        print("draw")
    elif (computer_input==1):
        print("you lose")
    else:
         print("you win")


elif (user_input==1):
  if (computer_input==0):
    print("you win")
  elif (computer_input==1):
    print("draw")
  else:
    print("you lose")

else:
  if (computer_input==0):
    print("you lose")
  elif (computer_input==1):
    print("you win")
  else:
    print("draw")

enter your choice? Type 0 for rock, type 1 for paper, type 2 for scissors0
0
2
you win

# SHORT VERSION OF ROCK PAPER SCISSOR GAME

---

In [ ]:
user_input= int(input("enter your choice? Type 0 for rock, type 1 for paper, type 2 for scissors"))
print(user_input)

import random
computer_input= random.randint(0,2)
print(computer_input)

if(user_input==computer_input):
  print("draw")
elif(user_input==0 and computer_input==1):
  print("you lose")
elif(user_input==1 and computer_input==0):
  print("you win")
elif()

In [ ]:
from pickle import TRUE
marks_list={}
marks_list={
    "imesh":98,
    "kasun":95,
    "nimesh":94,
    "kusal":90,
    "imesh":88

}
print(marks_list)
marks_list["chandima"]=89
print(marks_list)
#marks_list={}
#print(marks_list)
print(marks_list["imesh"])
print(marks_list["kasun"])
marks_list["imesh"]=99
print(marks_list)
marks_list["sasith"]=86
print(marks_list)
marks_list["sasith"]=88
print(marks_list)
print(len(marks_list))
marks_list["ashan"]="ashanlokuge10@gmail.com"
print(marks_list)
marks_list["Is_single"]=False
print(marks_list)
print(type(marks_list))

new_town= dict(kasun="matara",imesh="galle")
print(new_town)
print(type(new_town))
print(marks_list.keys())
print(marks_list.values())
if "kusal" in marks_list:
  print("yes")
else:
  print("no")

marks_list.pop("kusal")
print(marks_list)
marks_list.popitem()
print(marks_list)
del marks_list["kasun"]
print(marks_list)
#del marks_list
#print(marks_list)
#marks_list.clear()
#print(marks_list)
#marks_list={}
#print(marks_list)
#for x,y in marks_list.items():
 # print(x,y)
#new_list=marks_list.copy()
#print(new_list)
new_list=dict(marks_list)
print(new_list)

{'imesh': 88, 'kasun': 95, 'nimesh': 94, 'kusal': 90}
{'imesh': 88, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89}
88
95
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89}
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89, 'sasith': 86}
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89, 'sasith': 88}
6
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com'}
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'kusal': 90, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com', 'Is_single': False}
<class 'dict'>
{'kasun': 'matara', 'imesh': 'galle'}
<class 'dict'>
dict_keys(['imesh', 'kasun', 'nimesh', 'kusal', 'chandima', 'sasith', 'ashan', 'Is_single'])
dict_values([99, 95, 94, 90, 89, 88, 'ashanlokuge10@gmail.com', False])
yes
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com', 'Is_single': False}
{'imesh': 99, 'kasun': 95, 'nimesh': 94, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com'}
{'imesh': 99, 'nimesh': 94, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com'}
{'imesh': 99, 'nimesh': 94, 'chandima': 89, 'sasith': 88, 'ashan': 'ashanlokuge10@gmail.com'}

In [ ]:
imesh={
    "maths":85,
    "sinhala":45,
}
nimesh={
    "science":75,
    "english":78,
}
kusal={
    "english":98,
    "maths":95,

}
print(imesh)
print(nimesh)
print(kusal)

students={
    "imesh":imesh,
    "nimesh":nimesh,
    "kusal":kusal,
}
print(students)
print(students["imesh"])
print(students["imesh"]["maths"])

{'maths': 85, 'sinhala': 45}
{'science': 75, 'english': 78}
{'english': 98, 'maths': 95}
{'imesh': {'maths': 85, 'sinhala': 45}, 'nimesh': {'science': 75, 'english': 78}, 'kusal': {'english': 98, 'maths': 95}}
{'maths': 85, 'sinhala': 45}
85

In [ ]:
print("welcome to the secret auction program")
bid_details={}
max_bid=0
game=input("are there any other bidders? type yes or no.")
while(game=="yes"):
  name=input("what is your name:")
  bid=int(input("what is your bid:"))
  bid_details[name]=bid
  if(bid>max_bid):
    max_bid=bid
    winner=name
  clear()
  game=input("are there any other bidders? type yes or no.")
print("game close")
print(bid_details)
print(f"the winner is {winner} with a bid of {max_bid}")

welcome to the secret auction program
are there any other bidders? type yes or no.yes
what is your name:kusal
what is your bid:14

NameError: name 'clear' is not defined

In [ ]:
def full_name(f_name,l_name):
  f_n_name=f_name[0].upper()+f_name[1:].lower()
  l_n_name=l_name[0].upper()+l_name[1:].lower()
  return (f"{f_n_name} {l_n_name}")

NameError: name 'Ashan' is not defined

In [ ]:
full_name("aSHAN ","lOKUGE")

'Ashan  Lokuge'

SIMPLE METHOD OF TITLE CASE STRING

In [ ]:
def full_name(f_name,l_name):
  """enter your first name and last name"""
  if f_name==" " or l_name=="":
    return "you didn't provide valid inputs"
  new_f=f_name.title()
  last_f=l_name.title()
  return(f"{new_f} {last_f}")

"""this is our
first comment
new line"""

'this is our \nfirst comment\nnew line'

In [ ]:
full_name()

'Ashan Lokuge'

In [ ]:
(full_name(input("enter your first name"),input("enter your second name")))

enter your first nameimesh
enter your second nameashan

'Imesh Ashan'

Find the Is Leap Year and get the number of dates

In [ ]:
def is_leap(year):
  if(year%4==0):
    if(year%100==0):
      if(year%400==0):
        return True
      else:
        return False
    else:
      return True
  else:
    return False

In [ ]:
is_leap(2022)

False

In [ ]:
def days_in_month(year,month):
  month_days=[31,28,31,30,31,30,31,31,30,31,30,31]
  if is_leap(year)==True:
     if month==2:
      return 29
     else:
      return month_days[month-1]
  else:
    return month_days[month-1]

In [ ]:
days_in_month(1990,2)

28

**Building Calculator**

In [ ]:
def add(num1,num2):
  return num1+num2

def substract(num1,num2):
  return num1-num2

def multiply(num1,num2):
  return num1*num2

def divide(num1,num2):
  return num1/num2

operations={
              "+":add,
              "-":substract,
              "*":multiply,
              "/":divide
          }

num1=int(input("enter your first number"))
num2=int(input("enter your second number"))
for x in operations:
  print(x)

operation_symbol=input("pick an operation from the line above: ")
function=operations[operation_symbol]
answer=function(num1,num2)
print(f"{num1} {operation_symbol} {num2} = {answer}")

enter your first number400
enter your second number25.4

ValueError: invalid literal for int() with base 10: '25.4'